* {
    margin: 0;
    padding: 0;
 }
 
 
 body {
    background: rgb(165,42,42);
background: linear-gradient(90deg, rgba(165,42,42,1) 43%, rgba(255,0,5,1) 100%);
 }
 
 
 #banner {
    width: 100%;
 }
 
 
 h1 {
    font-size: 50px;
    color: goldenrod;
    text-align: center;
    text-transform: uppercase;
 }
 
 
 .textos {
    width: 80%;
    align-content: center;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
 