* {
    margin: 0;
    padding: 0;
 }
 
 
 body {
    background-color: brown;
 }
 
 
 #banner {
    width: 100%;
 }
 
 
 h1 {
    font-size: 50px;
    color: goldenrod
    text-align: center;
    text-transform: uppercase;
 }
 
 
 .textos {
    width: 80%;
    align-content: center;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: blue;
 